<div id="content"></div>
<script type="text/template" id="committer-tpl">
    <img class="committer" data-commits="<%= commits %>" data-user="<%= user %>" title="<%= name %> commits: <%= commits %>" src="<%= gravatar %>" style="<%= this.style_size(commits) %>">
</script>
