<!DOCTYPE html>
<html>
  <head>
    <title>GitHub fun</title>
    <style type="text/css">
      html, body { margin: 0; padding: 0; }
      html { background: #aaa; }
      #wrapper { border: 1px solid #666; max-width: 800px; margin: 20px auto; background: #fff; padding: 10px; }
      #content { text-align: center; }
    </style>
  </head>
  <body>
    <div id="wrapper">
      
      <h1>GitHub fun</h1>
      
      <div id="content"></div>
      <script type="text/template" id="committer-tpl">
          <img class="committer" data-commits="<%= commits %>" data-user="<%= user %>" title="<%= name %> commits: <%= commits %>" src="<%= gravatar %>" style="<%= this.style_size(commits) %>">
      </script>

      <script src="lib/jquery.js"></script>
      <script src="lib/underscore/underscore.js"></script>
      <script src="lib/backbone/backbone.js"></script>

      <script src="js/committers_provider.js"></script>
      <script src="js/committer.js"></script>
      <script src="js/committers_list.js"></script>
      <script src="js/committers_view.js"></script>
      <script src="js/app.js"></script>

    </div>
  </body>
</html>
